@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Reset Default Margin and Padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define Global Font */
body,
html {
  font-family: "Rubik", sans-serif;
}

/* Define Colors */
:root {
  --primary: #3514f1;
  --dark: #111;
  --light: #fff;
  --form: #e5e5e5;
}

/* Design Nav */

.logo {
  font-size: 25px;
  font-weight: 500;
  color: var(--light);
}

nav {
 
  position: relative;
  width: 100%;
  height: 60px;
  padding: 12px 40px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul,
li {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: var(--light);
}

nav a:hover {
  font-weight: 500;
  color: var(--light);
}

span {
  color: var(--light);
  font-size: 25px;
  display: none;
}

.btn {
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 10px;
  color: var(--primary);
  background-color: var(--light);
}


.btn:hover{
  color: #3514f1;
}
.hero-section {
  margin: 0 auto;
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  height: 100vh;
}

.hero-section .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;

  /* background-color: red; */
}

.left h1 {
  margin-bottom: 10px;
  color: var(--primary);
  font-size: 60px;
}

.left p {
  margin: 0.5rem 0rem;
}

.left button {
  padding: 10px 15px;
  margin-top: 0.5rem;
  background-color: var(--primary);
  color: var(--light);
}
.hero-section .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  /* background-color: red; */
}

.projects {
  height: 100vh;
  padding: .5rem 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.card {
  height: 380px;
  width: 350px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-body img {
  width: 100%;
  height: 200px;
}


.card-body h5 {
  font-size: 20px;
}

.card-body {
  padding: 2rem;
}

.card-body p {
  margin-top: 0.5rem;
}

/* Design About Section */

.about-me {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  background-color: var(--dark);
}

.about-me img {
  border-radius: 20px;
}
.about-text {
  color: var(--light);
  padding: 2rem;
  font-size: 30px;
}

.about-text p {
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-text i {
  margin: 0 1rem;
}

.social-media {
  text-align: center;
}

.contact {
  width: 100%;
  height: 100vh;
  padding: 3rem 5rem;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}


form{
  width: 100%;
}


.contact-form {
  height: 500px;
  width: 600px;
  padding: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h1{
  text-align: center;
  font-size: 30px;
  color: var(--dark);
}

.contact-form .form-btn{
  width: 100%;
  border: none;
  border-radius: 15px;
  color: var(--light);
  background-color: var(--primary);
  font-size: 20px;
  margin-top: 2rem;
  padding: .7rem 2rem;

}

.contact-map {
  height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form .form-input {
  width: 100%;
  margin-top: 3rem;
  border: none;
  border-radius: 15px;
  background-color: var(--form);
  font-size: 20px;
  padding: 0.7rem 2rem;
}











/* Media Queries */

@media (max-width: 768px) {
  ul {
    background-color: var(--light);
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    right: 0;
    left: 0;
    position: absolute;
    top: 70px;
    display: none;
  }

  li {
    font-size: 20px;
    padding: 20px 0px;
    border-bottom: 0.5px solid var(--dark);
  }

  body {
    background-color: var(--light);
  }

  span {
    display: block;
  }

  nav a {
    color: var(--dark);
  }

  nav a:hover {
    font-weight: 500;
    color: var(--primary);
  }

  /* Button Design for Mobile Version */

  .btn {
    color: var(--light);
    background-color: var(--primary);
    padding: 5px 10px;
  }

  /* Hero Section Design */
  .hero-section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .hero-section .left {
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
  }

  .left h1 {
    font-size: 30px;
  }

  .left h2 {
    font-size: 20px;
  }

  .left p {
    padding-right: 1rem;
  }

  .hero-section .right {
    width: 100%;
    height: 100%;
  }

  .btn {
    font-size: 18px;
  }

  /* Project Card Design for mobile */

  .projects {
   padding: 0rem 1.5rem;
  }

  /* About Section Design  */

  .about-me {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 10px;
    display: flex;
    background-color: var(--dark);
  }

  .about-text {
    padding: 1rem 0.5rem;
    font-size: 30px;
  }

  .about-text h1 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 17px;
  }

  .social-media {
    font-size: 25px;
    text-align: center;
  }

  /* Contact page Design */

  .contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

 
.contact-form {
  height: 500px;
  width: 300px;
  padding: 1.5rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h1{
  margin-top: 2rem;
}

.contact-form .form-btn{
  margin-bottom: 2rem;
}

.contact-form .form-input {
  width: 100%;
  margin-top: 2rem;
  border: none;
  border-radius: 15px;
  background-color: var(--form);
  font-size: 20px;
  padding: 0.5rem 2rem;
}

.contact-map {
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

}
